{% load static %}
<section style="background: linear-gradient(to top, black, white);" class="border-0">

    <div class="container-lg py-5 ">
        <div class="text-center">
            <h2>A Home Away From Home</h2>
            <p class="lead text-muted">Yess! expect the Best, or we'll refund the bill</p>
        </div>

            <!-- cards showing menu, making reservation and opening hours -->
            <div class="row justify-content-center p-3 m-3 align-items-center g-2">

                <!-- First Card Showing Menu -->
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm " style="width: auto;">
                        <img src="{% static 'img/hero.jpg' %}" class="card-img-top" alt="hero">
                        <div class="card-body">
                            <h5 class="card-title">Our Menu</h5>
                            <p class="card-text">Our menu consists of seasonal local and continental dishes</p>
                        </div>
                    
                        <div class="card-body">
                            <a href="{% url 'menu' %}" class="btn btn-outline-dark btn-sm ">Explore!!</a>
                        </div>
                    </div>
                </div>

                <!-- Bookings Card -->
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm bg-dark text-light" style="width: auto;">
                        <img src="{% static 'img/hero1.jpg' %}" class="card-img-top" alt="hero">
                        <div class="card-body">
                            <h5 class="card-title">Bookings</h5>
                            <p class="card-text">Reserve your table for a Ghanaian dining experience. You would love it</p>
                        </div>
                    
                        <div class="card-body ">
                            <a href="{% url 'booking' %}" class="btn btn-outline-light btn-sm">Book Now</a>
                        </div>
                    </div>
                </div>


                <!-- Opening Hours Card -->
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm bg-dark text-light" style="width: auto;">
                        <img src="{% static 'img/hero1.jpg' %}" class="card-img-top" alt="hero">
                        <div class="card-body">
                            <h5 class="card-title">Opening hours</h5>
                            <p class="card-text">Well, we work for only seven days in a week except for public holidays.</p>
                            
                        </div>
                    
                        <div class="card-body ">
                            <a href="" class="btn btn-outline-light btn-sm">10:00AM - 10:00PM</a>
                            
                        </div>
                    </div>
                </div>



         </div>
    </div>
</section>

