{% load static %}
<nav class="navbar bg-dark navbar-expand-lg sticky-top">
    <div class="container-xxl">
        <a href="#" class="navbar-brand">
            <span class="fw bold text-light">BG-Restaurant</span>
        </a>

        <!-- toggle for mobile view -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
         aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
         <div class="collapse navbar-collapse justify-content-end align-items-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link text-light">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-light">Menu</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-light">Reservations</a></li>
                <li class="nav-item d-none d-lg-inline"><a href="#" class="btn  btn-danger">Order Now</a></li>
            </ul>
         </div>
    </div>
</nav>