{% load static %}
<!-- Intro Hero Section-->
 <section id="intro" class=" p-5" style="background: linear-gradient(to bottom, black, white);">
    <div class="container-lg  p-5">
            <div class="text-center text-light p">
                <h1 class="display-3">Welcome to Boss Gabby Restaurant</h1>
                <p class="lead ">Experience the authentic taste of Ghana Jollof with a perfectly spiced grilled chicken</p>
                <a href="#" class="btn btn-danger btn-lg">Book Now</a>
            </div>

        </div>
 </section>