{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="row">
    <div class="hero container-fluid">
        <div>
            <h1>Welcome To Boss Gabby Restaurant</h1>
            <p class="hero-text-body">Experience the authentic taste of Ghana Jollof with a perfectly spiced grilled chicken</p>
            <div class="hero-btn"><a class="btn btn-dark" href="">Make a reservation</a></div>
        </div>
        
    </div>







    
     

    





















</div>
{% endblock %}

