{% extends 'base.html' %}
{% load static%}


{% block content  %}
<section class="bg-white">

<div class="container-fluid">
    <div class="text-center">
        <h2 class="display-3">Our Menu</h2>
        <p class="lead text-muted">We've got you convered</p>
    </div>

    <div class="row justify-content-center align-items-center my-5 p-2 g-3">
     {% for item in menu %}
      <div class="col-md-4 col-lg-3">
         <div class="card border-0 shadow-lg">
             <div class="card-body text-center py-4">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <p class="display-5 my-4 text-primary fw-bold">${{ item.price }}</p>
                    
                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy Now</a>
             </div>
         </div>
     </div>
     {% endfor %}
    </div>
</div>
</section>
{% endblock %}